# ======================
# Backend (Spring Boot)
# ======================
Backend/target/
*.class

# ======================
# Angular / Node
# ======================
node_modules/
dist/
.angular/

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE (optional)
# ======================
.vscode/
.idea/